body {
    background: rgb(136,214,175);
    background: linear-gradient(90deg, rgba(136,214,175,1) 0%, rgba(15,211,235,1) 35%, rgba(14,59,203,1) 100%);
    color: white;
    font-family: 'League Spartan', sans-serif;

    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 90px;
}
h2 {
    font-size: 30px;
}
hr {
    width: 45%;
    background-color: aliceblue;
    border: none;
    height: 1px;
}
.socials {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#twitter {
    width: 100px;
}
#discord {
    width: 100px;
}
#github {
    width: 100px;
}
#paytondevxyz {
    width: 100px;
}
