body {
    color: white;
    font-family: 'League Spartan', sans-serif;

    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 90px;
    text-shadow: 1px 1px black;
}
h2 {
    font-size: 30px;
    text-shadow: 1px 1px black;
}
