@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*detect if mobile*/

body {
    color: white;
    font-family: 'Poppins', sans-serif;
    background: rgb(94,190,245);
    background: linear-gradient(153deg, rgba(94,190,245,1) 0%, rgba(109,82,230,1) 50%, rgba(226,140,140,1) 87%, rgba(226,164,76,1) 99%);
}
a {
    color: rgb(43, 6, 255);
}
a:visited {
    color: rgb(172, 21, 199);
}
button {
    background-color: transparent;
    border: none;
}
#darkmode {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: right;
}
/*center the bullet point on ul*/
ul {
    display: inline-block;
    margin: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
    list-style: none;
}
